/.idea
/data_without_categorical_outliers.csv
/duplicates.py
/Exam2017_A_6_149k.html
/how_many_duplicates.py
/main.py
/missing_values.py
/missing_values_space.py
/outliers.py
/outliers_category.py
/outliers_category_remove.py
/outliers_without_categorical_outliers.csv
/read.py
/rename.py
/split.py
/test.py
/train.csv
/trainCSET.csv
/trainCSET_category.csv
/trainCSET_cleaned.csv
/trainCSET_outliers.csv
/trainCSET_without_duplicates.csv
/trainCSET_without_outliers.csv
/trainCSET_with_duplicates.csv
/trainCSET_with_missing_values.csv
/train_original.csv
/venv
/X_test.csv
/X_train.csv
/y_test.csv
/y_train.csv